<h2 id="{{ class['longname'] }}">{{ class['name'] }} class&nbsp;<a class="code-reference" href="#{{ class['longname'] }}">&#x1f517;</a>
</h2>
<hr/>
{% if class['deprecated'] %}<span class="deprecated">Deprecated</span>{% endif %}
{% if class['virtual'] %}<span markdown="1" class="abstract-doc">**Abstract**</span>{% endif %} <code>{{ class['longname'] }}</code>
<br/>
{% if class.parents %}
    This class extends {{ class.parents|join(', ') }}.
    <br/>
{% endif %}
<br/>
{% if class.constructor and class.constructor.examples %}
<div markdown="1">
{{ '{% raw %}' }}
{% for example in class.constructor.examples %}
### {{ example }}

{% endfor %}
{{ '{% endraw %}' }}

</div>
<br/>
{% endif %}

{% if class.constructor %}
    <table class="constructor">
        <thead>
        <tr>
            <td colspan="2">Constructor</td>
        </tr>
        </thead>
        {% set constructor=class.constructor %}
        <tr>{% include 'constructor.jinja2' %}</tr>
    </table>
    <br/>
{% endif %}

{% if class.methods %}
    <table class="methods">
        <thead>
        <tr>
            <td colspan="2">Methods</td>
        </tr>
        </thead>
        <tbody>
        {% for method in class.methods %}
            {% if not method.inherited %}
            <tr>{% include 'method.jinja2' %}</tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <br/>

{% endif %}

{% if class.properties %}
    <table class="properties">
        <thead>
        <tr>
            <td colspan="2">Properties</td>
        </tr>
        </thead>
        <tbody>
        {% for property in class.properties %}
            <tr>{% include 'property.jinja2' %}</tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
{% endif %}
