{% include 'front.yml.jinja2' %}

<div markdown="0" class="sdk-documentation">
    {% for class in classes %}
        {% include 'class.jinja2' %}
    {% endfor %}

    {% for typedef in typedefs %}
        {% include 'typedef.jinja2' %}
    {% endfor %}
</div>
