<td>{{ method['signature'] }}</td><td markdown="1">
{% if method['returnValue'] %}**Return Value**: {{ method['returnValue'] }}{% endif %}
<div markdown="1">
{{ '{% raw %}' }}
{% if method['deprecated'] %}
**Deprecated**
{% endif %}
{% if method.virtual %}
**Abstract**
{% endif %}
{{ method['description'] }}


{{ '{% endraw %}' }}
</div>
</td>
