<hr/>
{% if typedef['deprecated'] %}<span class="deprecated">Deprecated</span>{% endif %}

{% if typedef.parents %}
    This object specification extends {{ typedef.parents|join(', ') }}.
    <br/>
{% endif %}

<div markdown="1">
{% if typedef['description'] %}
{{ '{% raw %}' }}
{{ typedef['description'] }}
{{ '{% endraw %}' }}
{% endif %}
{% if typedef.examples %}
{{ '{% raw %}' }}
{% for example in typedef.examples %}
### {{ example }}

{% endfor %}
{{ '{% endraw %}' }}

{% endif %}
</div>

{% if typedef.properties %}
    <table class="properties">
        <thead>
        <tr>
            <td colspan="2">Properties</td>
        </tr>
        </thead>
        <tbody>
        {% for property in typedef.properties %}
            <tr>{% include 'property.jinja2' %}</tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
{% endif %}
